{% extends 'main.html' %}

{% block content %}
  <!-- Main Section -->
  <main class="inbox my-xl">
    <div class="content-box">
      <h3 class="inbox__title">New Messages(<span>{{un_Read_Count}}</span>)</h3>

      <ul class="messages">

        {% for msg in msgReq %}
          {% if msg.is_read == False %}
          <li class="message message--unread">
          {% else %}
          <li class="message">
          {% endif %}
              <a href="">
                  <span class="message__author">{{msg.name}}</span>
                  <span class="message__subject">{{msg.subject}}</span>
                  <span class="message__date">{{msg.created}}</span>
              </a>
          </li>
        {% endfor %}

      </ul>
    </div>
  </main>
{% endblock content %}
